body{
    background-image: url("./pictures/computers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1700px;    
    display: grid;
    place-content: center;
}
.navbar{
    
    margin-bottom: 250px;
    border: 0px;
    background-color:#c3bbaf;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    width: 71.8%;
}
.navbar a{
    background-color: #c3bbaf;
    text-decoration: none;
    width: 40x;
    padding: 10px;
    
}

.whitebox{
    background-color:#5c5b5e;
    color: black;
    width: 300px;
    height: 350px;
    text-align: left;
    font-family: sans-serif;
    place-content: center;
    display: grid;
    

}
.whitebox h1{
    text-align: center;
}
.box{
    text-align: center;
    margin: 5px;
    place-content: center;
    display: grid;
   
}

.grid-1x2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.all-cards{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   justify-content: space-evenly;
   
}
.card{
    width: 45%;
    height: 50%;
}
.card1{
    width: 70%;
}
.card2{
    width: 80%;
}
.card3{
    width: 50%;
    height: 10%;
}
.card-body{
    background-color: white;
}
.whitebox2{
    display: grid;
    place-content: center;
    background-color: #8f8d89;
    font-size: 61px;
}
.homepage{
    display: grid;
    place-content: center;
}
.img-holder{
    display: grid;
    place-content: center
    ;
}