body{
    background-image: url("computers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1600px;
    
}
.navbar{
    padding: 5px;
    margin: 0;
    border: 45px;
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    width: 12x;
    padding: 10px;
    
}

.whitebox{
    position: absolute;
    background-color:#5c5b5e;
    color: black;
    width: 250px;
    height: 325px;
    padding: 10px;
    margin: 200px;
    text-align: left;

}
.whitebox h1{
    text-align: center;
}

